.footer {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: gainsboro;
  .header__logo {
    display: block;
    position: relative;
    float: left;
    width: 314px;
    margin-top: 27px;
    margin-bottom: 23px;
    font-family: $AvenirNextCyrBold;
    @include breakpoint(max-width 770px){
      margin-left: calc(50% - (314px/2));
    }
    @include breakpoint(max-width 600px) {
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    > p:first-of-type {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      font-size: 40px;
      text-align: center;
      color: #22ab46;
      margin: 0;
      span {
        color: #000046;;
      }
    }
    > p:last-of-type {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      font-size: 20px;
      color: #22ab46;
      text-align: center;
      margin-top: -8px;
      margin-bottom: 0;
      padding-left: 13px;
      @include box-sizing(border-box);
    }
  }
  &__wrapper{
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    justify-content: space-around;
    position: relative;
    float: left;
    width: calc(100% - 314px);
    @include breakpoint(max-width 770px){
      width: 100%;
    }
    @include breakpoint(max-width 600px){
      width: 100%;
    }
  }
  &__contacts{
    display: block;
    position: relative;
    float: left;
    width: 50%;
    margin-top: 30px;
    @include breakpoint(max-width 770px){
      width: 100%;
      margin-top: 0;
      margin-bottom: 20px;
    }
    @include breakpoint(max-width 600px){
      width: 100%;
      margin-top: 0;
      margin-bottom: 20px;
    }
    > p{
      display: block;
      position: relative;
      float: left;
      width: 75px;
      margin-left: 30px;
      color: #646464;
      font-size: 15px;
      font-weight: 700;
      line-height: 28px;
      @include breakpoint(max-width 1200px){
        margin-left: 20px;
      }
      @include breakpoint(max-width 770px){
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
      }
      @include breakpoint(max-width 600px){
        width: 100%;
        margin-left: 0;
        text-align: center;
      }
    }
    > a{
      display: block;
      position: relative;
      float: left;
      width: calc(100% - (30px + 170px));
      color: #646464;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      @include breakpoint(max-width 1200px){
        width: calc(100% - 97px);
      }
      @include breakpoint(max-width 770px){
        width: 100%;
        margin-left: 0;
        text-align: center;
      }
      @include breakpoint(max-width 600px){
        width: 100%;
        text-align: center;
      }
    }
    > a:last-of-type{
      margin-left: 101px;
      margin-top: 10px;
      margin-bottom: 10px;
      @include breakpoint(max-width 770px){
        margin-left: 0;
      }
      @include breakpoint(max-width 600px){
        width: 100%;
        margin-left: 0;
      }
    }
  }
  &__contacts:nth-of-type(2){
    > p{
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;
    }
  }
}

#Go_Top {
  display: none;
  position: fixed;
  width: 68px;
  height: 68px;
  bottom: 60px;
  right: 30px;
  cursor: pointer;
  z-index: 10;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}